.menu_element {
    color: rgb(0, 0, 0);
    /* This is a comment*/
    font-size: 200%
}

.LinkOnBlack {
    color: yellow;
}

.POC {
    color: white;
    background-color: black;
    text-align: center;
}

#LastFooter {
    color: white;
    background-color: black;
    text-align: center;
}

#social {
    text-align: center;
}