/* SECTION */

article {
    color: white;
}

/* CLASSES */

.Main_Body {
    background: -moz-linear-gradient(rgb(8, 54, 70), black, rgb(8, 54, 70));
    background-image: url("../IMG/Work_In_Progress.png"), url("../IMG/Work_In_Progress.png");
    background-position: left, right;
    background-repeat: no-repeat;
    background-size: contain;
}

h1.menu {
    transition: transform 2s
}

h1.menu:hover {
    transform: rotateY(360deg);
}

a.menu:link {
    color: black;
    text-decoration: none;
    font-size: 30pt;
    text-shadow: -4px -5px 10px white, 5px 4px 10px white;
    padding-right: 20px;
    padding-left: 20px;
    transition-property: all;
    transition-duration: 1s;
}

a.menu:visited {
    color: black;
    font-size: 30pt;
    text-shadow: -4px -5px 10px white, 5px 4px 10px white;
    padding-right: 20px;
    padding-left: 20px;
}

a.menu:hover {
    color: black;
    font-size: 30pt;
    text-shadow: -4px -5px 20px white, 5px 4px 20px yellow;
    padding-right: 20px;
    padding-left: 20px;
    width: 100px;
    transform: rotateX(180deg)
}

a.menu:active {
    color: black;
    font-size: 30pt;
    text-shadow: -4px -5px 10px white, 5px 4px 10px white;
    padding-right: 20px;
    padding-left: 20px;
}

.LinkOnBlack {
    color: yellow;
}

.POC {
    color: white;
    background-color: black;
    text-align: center;
    font-size: 20px;
}

.Gherkin_functionnality {
    color: black;
    background-color: rgb(100, 144, 214);
    padding: 5px;
    border: 2px double white;
}

.Gherkin_text {
    color: white;
}

/* ID */

#LastFooter {
    color: white;
    background-color: black;
    text-align: center;
}

#social {
    text-align: center;
}